/* ---------- Color Module Styles ----------- */

.toolbar-preview{
  position:relative;
}

.adminimal .toolbar .toolbar-bar-preview {
  background-color: #000000;
  box-shadow: none;
}

.grumpy-adminimal-brand-logo-wrapper-preview {
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 999;
}

.adminimal-admin-toolbar .toolbar .toolbar-bar {
  background-color: #000011;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu a,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu span,
.adminimal .toolbar .toolbar-toggle-orientation,
.adminimal-admin-toolbar .level-1 .toolbar-handle.open,
.adminimal-admin-toolbar .toolbar-tray-vertical .level-2 .toolbar-box,
.adminimal-admin-toolbar .toolbar .level-2 .toolbar-box .toolbar-handle.open,
.adminimal-admin-toolbar .toolbar .toolbar-tray-vertical .level-3,
.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active,
.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus,
.toolbar button.toolbar-icon{
  background-color: #000012!important;
}

.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active,
.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus{
  background-color: #000011;
}

.toolbar-preview {
  position: relative;
  max-height: 38px;
  height: 38px;
}


.toolbar-bar-preview {
  background-color: #000011;
  max-height: 38px;
  height: 38px;
}