
/***************************/
/** WAX BASETHEME STYLES **/
/*************************/

/*
.adminimal .action-links .button--primary {
  background: #fff;
  border: 2px solid #000000;
  border-radius: 999px;
  color: #5f5f5f;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 0.4rem 1.33rem;
}

.adminimal .action-links .button--primary:hover, .adminimal .action-links .button--primary:focus {
  background-color: #5f5f5f;
  background-image: none;
  box-shadow: none;
  color: #fff;
}

.adminimal .button--danger {
  background-color: #000000;
  border-color: #000000;
  border: solid 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 21px;
  padding-right: 21px;
}

.adminimal .button--danger:hover,
.adminimal .button--danger:focus
{
  background-color: #FFFFFF;
  border-color: #000000;
  border: solid 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 21px;
  padding-right: 21px;
  text-decoration: none;
}

.adminimal .button {
  background-color: #000000;
  border-color: #000000;
  border-radius: 0;
  text-shadow: none;
  transition: all, 0.2s;
  color: #FFFFFF;
}

.adminimal .button:hover,
.adminimal .button:focus{
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 0;
  text-shadow: none;
  transition: all, 0.2s;
  color: #000000;
}

.adminimal .button--primary {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
}

.adminimal .button--primary:hover,
.adminimal .button--primary:focus {
  background: #ffffff;
  border-color: #000000;
  color: #000000;
  border-radius: 999px;
}

.adminimal-admin-toolbar .toolbar-tray .toolbar-menu li {
  background: #000011!important;
}

.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active,
.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus,
.toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active,
.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus {
  background-color: #000011!important;
}
*/
.grumpy-basetheme-brand-logo-wrapper{
  position:fixed;
  left:50%;
  top:0px;
  z-index:999
}

.grumpy-basetheme-brand-logo{
  position:relative;
  left:-50%;
}

.grumpy-basetheme-brand-logo img{
  height: 38px;
  max-height: 40px;
  max-width: 150px;
}